.logo-animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in, fadeOut 0.5s ease-out 2.5s forwards;
}

.logo-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.logo-img {
  position: absolute;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  
  // Initial state - hidden
  display: none;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

// Animation stages
.animating .logo-img {
  display: block;
  
  // Stage 1: Center (0-500ms)
  animation: logoAnimation 3s ease-in-out forwards;
}

@keyframes logoAnimation {
  0% {
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  16.67% { // 500ms
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  50% { // 1500ms
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    transform: translate(0, 0);
    opacity: 1;
  }
  
  100% { // 3000ms
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Mobile Responsive
@media (max-width: 800px) {
  @keyframes logoAnimation {
    0% {
      display: block;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    
    16.67% { // 500ms
      width: 150px;
      height: 150px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
    
    50% { // 1500ms
      width: 60px;
      height: 60px;
      top: 70px;
      left: 70px;
      transform: translate(0, 0);
      opacity: 1;
    }
    
    66.67% { // 2000ms
      width: 60px;
      height: 60px;
      top: 70px;
      left: 70px;
      transform: translate(0, 0);
      opacity: 1;
    }
    
    100% { // 3000ms
      width: 60px;
      height: 60px;
      top: 70px;
      left: 70px;
      transform: translate(0, 0);
      opacity: 0;
    }
  }
}

@media (max-height: 900px) {
  @keyframes logoAnimation {
    50%, 66.67%, 100% {
      width: 80px;
      height: 80px;
      top: 70px;
      left: 70px;
    }
  }
}
