.upload-animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  pointer-events: none;
}

.favicon-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.favicon-img {
  position: fixed;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(41, 171, 226, 0.4);
  transition: none;
}

.animating .favicon-img {
  animation: uploadSuccess 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes uploadSuccess {
  0% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  
  20% {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  40% {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }
  
  60% {
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  100% {
    width: 40px;
    height: 40px;
    top: 320px;
    left: 200px;
    transform: translate(0, 0) scale(0.5);
    opacity: 0;
  }
}

// Mobile Responsive
@media (max-width: 800px) {
  @keyframes uploadSuccess {
    0% {
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
    
    20% {
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    
    40% {
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.1);
      opacity: 1;
    }
    
    60% {
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    
    100% {
      width: 30px;
      height: 30px;
      top: 280px;
      left: 120px;
      transform: translate(0, 0) scale(0.5);
      opacity: 0;
    }
  }
}

// Tablet
@media (min-width: 801px) and (max-width: 1200px) {
  @keyframes uploadSuccess {
    100% {
      width: 35px;
      height: 35px;
      top: 300px;
      left: 150px;
      transform: translate(0, 0) scale(0.5);
      opacity: 0;
    }
  }
}
